<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.perpusmini">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".controllers.Peminjam.BeriRating" android:exported="true" />
        <activity android:name=".UpdateProfile" android:exported="true" >
        </activity>
        <activity
            android:name=".HalamanUtama"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity android:name=".DaftarBuku" android:hardwareAccelerated="true" android:exported="true"/>
        <activity android:name=".controllers.Admin.AddBook" android:exported="true" />
        <activity android:name=".controllers.Admin.Home" android:exported="true"  />
        <activity android:name=".controllers.Admin.UbahBuku" android:exported="true"  />
        <activity android:name=".controllers.Peminjam.PeminjamHome" android:exported="true"  />
        <activity android:name=".controllers.Peminjam.Pinjam" android:exported="true"  />
        <activity android:name=".DaftarPeminjaman" android:exported="true"  />
        <activity android:name=".SignUpActivity" android:exported="true"  />
        <activity android:name=".SignInActivity" android:exported="true"  />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_notification" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

    </application>

</manifest>